* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.woff2 binary
*.mp3 binary
*.wav binary
*.mp4 binary
*.mkv binary
*.sqlite3 binary
