@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
